* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background: gold;
}
section {
  width: 100vw;
}

article {
  display: flex;

  justify-content: space-between;
}

#container-oben {
  display: flex;
  justify-content: space-between;
}

#oben-container-right {
  display: grid;
  place-items: center;
  width: 33%;
  position: relative;
}

#oben-container-left {
  display: grid;
  place-items: center;
  width: 33%;
  position: relative;
}

#oben-container-middle {
  position: relative;
}

#img-wrapper {
  width: 50%;
  margin: auto;
}

img {
  width: 100%;
}

#zuTrennendeZeichenkette {
  width: 30%;
  height: 30px;
  display: block;
  margin: auto;
}

#zeichenketteFürDieTrennungsposition {
  display: block;
  margin: auto;
  height: 30px;
}

#davorTrennenContainer {
  display: flex;
  justify-content: center;
}

#danachTrennenContainer {
  display: flex;
  justify-content: center;
}

#btn {
  display: block;
  margin: auto;
}

#speech-box-left,
#speech-box-middle,
#speech-box-right {
  width: 70%;
  height: 65%;
  position: absolute;
  border: #000 solid 2px;
}

#speech-box-middle {
  width: 50%;
}

/*===================================================*/
